.current { color: green; }

#pgpKey { display: none; }

.center { margin: auto; width: 50%; border: 3px solid green; padding: 10px; }

/** body { font-family: "helvetica"; } */
@font-face { font-family: "aza"; src: url("/assets/fonts/helvetica.otf"); }
img[alt=logo] { width: 50px; }

body { font-family: "aza"; }

/* Tooltip container */
.tooltip { position: relative; display: inline-block; /* border-bottom: 1px dotted black; */ border-bottom: 1.6px dotted black; }

/* Tooltip text */
.tooltip .tooltiptext { visibility: hidden; /* width: 120px; */ background-color: #000; color: #fff; text-align: center; padding: 5px 5px; border-radius: 6px; /* Position the tooltip text */ position: absolute; z-index: 1; bottom: 125%; left: 50%; margin-left: -60px; /* Fade in tooltip */ opacity: 0; transition: opacity 0.3s; }

/* Tooltip arrow */
.tooltip .tooltiptext::after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext { visibility: visible; opacity: 1; }

:target { background-color: #ffa; }

.card { position: relative; display: inline-block; }

.card .img-top { display: none; position: absolute; top: 0; left: 0; z-index: 99; }

.card:hover .img-top { display: inline; }
